<div class="movement-page">

<h2 class="movement-title">{{ title() }}</h2>

<p class="product-info">
   Producto ID: <span>{{ productId }}</span>
</p>

<div *ngIf="error" class="alert-error">
  ⚠️ {{ error }}
</div>

<form [formGroup]="form" (ngSubmit)="submit()" class="movement-form">

    <div class="form-group">
      <label>Cantidad</label>
      <input
        type="number"
        formControlName="quantity"
        placeholder="Ingrese la cantidad"
      />

      <div
        *ngIf="form.controls['quantity']?.touched && form.controls['quantity']?.invalid"
        class="form-error">
        Cantidad inválida.
      </div>
    </div>

    <div class="form-group">
  <label>
    Motivo
    <span *ngIf="mode === 'adjustment'">(obligatorio para ajuste)</span>
  </label>

  <input
    type="text"
    formControlName="reason"
    placeholder="Ej: reposición, venta, ajuste"
  />

  <div
    *ngIf="mode === 'adjustment' && form.controls['reason']?.touched && form.controls['reason']?.invalid"
    class="form-error"
  >
    en ajuste el motivo es OBLIGATORIO.
  </div>
</div>


    <div class="form-actions">
      <button type="submit" [disabled]="isLoading" class="btn-primary">
        {{ isLoading ? 'Enviando...' : 'Confirmar' }}
      </button>

      <button
        type="button"
        [disabled]="isLoading"
        routerLink="/stock"
        class="btn-secondary">
        Cancelar
      </button>
    </div>

  </form>
 </div> 