<div class="page">
<h2>Productos</h2>

<div class="top-bar">
  <div class="search-inline">
    <label>Buscar por nombre</label>
    <input
      type="text"
      [formControl]="searchCtrl"
      placeholder="Ej: mouse, teclado, monitor..."
    />
    <button
      (click)="searchCtrl.setValue('')"
      [disabled]="(isLoading$ | async) || !searchCtrl.value">
      Borrar
    </button>
  </div>

  <div class="top-actions">
   
    

  </div>
</div>

<div class="pagination" *ngIf="totalPages$ | async as totalPages">
  <button (click)="prevPage()" [disabled]="(isLoading$ | async) || page <= 1">Anterior</button>
  <button (click)="nextPage(totalPages)">Siguiente</button>
  <button (click)="refresh()" [disabled]="(isLoading$ | async)">Refrescar</button>

  <span>
    Página {{ page }} / {{ totalPages }} (Total: {{ total$ | async }})
  </span>
</div>



<div *ngIf="isLoading$ | async">Cargando...</div>

<div *ngIf="!(isLoading$ | async) && (error$ | async) as error">
  {{ error }}
</div>


<div *ngIf="!(isLoading$ | async) && !(error$ | async)">
  <ng-container *ngIf="products$ | async as products">
    <table *ngIf="products.length > 0" class="table">

      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th *ngIf="isAdmin">Stock mínimo</th>
          <th>Activo</th>
          <th *ngIf="isAdmin">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let p of products">
          <td>{{ p.id }}</td>
          <td>{{ p.name || '—' }}</td>
          <td *ngIf="isAdmin">{{ p.minStock }}</td>
          <td>{{ p.isActive ? 'Sí' : 'No' }}</td>

          <td *ngIf="isAdmin">
            <a [routerLink]="['/products/edit', p.id]">Editar</a>
            |
            <button type="button" (click)="softDelete(p.id)">Desactivar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="products.length === 0" style="margin-top:12px;">
      No hay productos.
    </div>
  </ng-container>
</div>



</div>